<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hello world!</h1>

<form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <button>Send</button>
</form>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias aliquam aut cupiditate deserunt distinctio enim
    error explicabo harum hic, illo impedit in incidunt ipsam ipsum itaque libero magni modi natus non nostrum obcaecati
    odio officiis, perspiciatis porro praesentium quae quaerat quibusdam rerum soluta sunt ut veniam vero voluptate
    voluptates voluptatum? Ducimus nam quibusdam reiciendis velit! Ad atque cum dolores eveniet, magni nostrum ut? Amet
    animi architecto atque autem earum eligendi ex in laborum laudantium modi natus nesciunt numquam pariatur
    perspiciatis praesentium, quisquam ratione reiciendis sequi soluta velit? Corporis deleniti ducimus ea maxime
    mollitia nesciunt nostrum pariatur praesentium ut.</p>

{% for people in all_people %}
    <div class="people-item">
        <p>Name is {{ people.name }}</p>
        <p>Surname is {{ people.surname }}</p>
        <p>Age is {{ people.age }}</p>
    </div>
    <hr>
{% endfor %}

</body>
</html>